.navbar{
	background-color: black;
	width: 100%;
	padding-top: 25px;
	background-color: none;
	height: auto;
	position: fixed;
	z-index: 100;
}
.navbar .sticky{
	border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.navbar a{
	font-size: 20px;
	letter-spacing: 1px;
	float: right;
	color: black;
	justify-content: space-between;
}
.navbar a:hover{
	color:#f9004d;
	transition: .4s;
	transform: scale(1.2);
}
.navbar h1{
	color: black;
	padding-left: 50px;
	font-size: 40px;
}
.lio{
	color:#f9004d;
}
.bbb img{
	width: 100%;
	height: 100vh;
}
span{
	color: #f9004d;
}
.content{
	position: absolute;
	top: 40%;
	left:8%;
	transform: translateY(-50%);
}
.content .second{
	height: 90px;
	line-height: 90px;
	overflow: hidden;
}
.second li{
	position: relative;
	top: 0;
	color: #f9004d;
	list-style: none;
	padding: 0 20px;
	text-shadow: 0 0 10px #f9004d;
	animation: slide 12s steps(4) infinite;
}
@keyframes slide{
	100%{
		top: -360px;
	}
}
.second li span{
	position: relative;
}
.second li span::before{
	background: black;
	content: '';
	position: absolute;
	left: 0;
	width: 400px;
	height: 90px;
	border-left: 2px solid #f9004d;
	animation: typing 1.5s steps(10) infinite
	alternate;
}
@keyframes typing{
	100%{
		left: 100%;
		margin: 0 -35px 0 35px;
	}
}
.content h1{
	color: #f9004d;
	text-shadow: 0 0 10px #f9004d;
	margin: 20px 0px 20px;
	font-size: 75px;
}
.content p{
	color: white;
	font-size: 40px;
}
.content h3{
	color: white;
	font-size: 25px;
	margin-bottom: 40px;
}
.about{
	height: 100vh;
	padding-top: 30px;
}
.about img{
	width: 50%;
	height: auto;
}
.about-text{
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text p{
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
.about h2{
	color: black;
}
button{
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.Services{
	background-color: #000000;
	height: 100vh;
	padding-top: 80px;
	padding-left: 30px;
}
.title{
	padding-left: 44%;
}
.title h2{
	color: white;
}
.title p{
	color: #f9004d;
}
.title svg{
	color: white;
}
.mdk{
	display: flex;
}
.card{
	align-items: center;
	height: auto;
	width: 435px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
}
.card svg{
	color: #f9004d;
}
.card h5{
	font-size: 30px;
	color: white;
}
.card p{
	color: white;
}
.Skills{
	background-color: white;
	height: 100vh;
	padding-top: 80px;
	padding-left: 20px;
}
.container .text-center{
	padding-top: 50px;
}
.col-4{
	width: 50%;
}
.sda h4{
	font-size: 25px;
	font-weight: bold;
}
.sda p{
	font-size: 20px;
}
.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #f9004d;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 70%;
}
.bar .progress-line.jquery span{
  width: 50%;
}
.bar .progress-line.python span{
  width: 10%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "70%";
}
.progress-line.jquery span::after{
  content: "50%";
}
.progress-line.python span::after{
  content: "10%";
}
.progress-line.mysql span::after{
  content: "75%";
}
.ski{
	padding-left: 44%;
}
.ski h2{
	color: black;
}
.ski p{
	color: #f9004d;
}
.ski svg{
	color:black;
}
.heading{
	display: flex;
}
.card{
	align-items: center;
	height: auto;
	width: 435px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
}
.card svg{
	color: #f9004d;
}
.card h5{
	font-size: 30px;
	color: white;
}
.card p{
	color: white;
}
.Teams{
	padding-bottom: 70px;
	padding-left: 50px;
	padding-right: 50px;
	background: black;
}
.Teams h2{
	padding-left: 25px;
	padding-top: 20px;
	color: white;
}
.teams-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 2.5rem;
}
.teams-container .teams-box{
	display: flex;
	position: relative;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--bg-color);
	overflow: hidden;
}
.teams-box img{
	width: 100%;
	transition: .5s ease;
}
.teams-box .teams-layer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, .1), #f9004d);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 4rem;
	transform: translateY(100%);
	transition: .5s ease;
}
.teams-box:hover .teams-layer{
	transform: translateY(0);
}

.teams-layer h4{
	color: white;
	font-size: 3rem;
}
.teams-layer p{
	color: white;
	font-size: 20px;
	margin: .3rem 0 1rem;
}
.teams-layer a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: black;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.teams-layer svg {
	color: white;
}
.ohh svg {
	color: black;
}
.ohh{
	padding-top: 100px;
	padding-left: 45%;
}
.ohh h2{
	color: black;
}
.ohh p{
	color: #f9004d;
}

.Contacts {
 	height: 100vh;
}
.Contacts form{
	max-width: 70rem;
	margin: 1rem auto;
	text-align: center;
	margin-bottom: 3rem;
}
.Contacts form .input-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.Contacts form .input-box,
.Contacts form textarea{
	resize: none;
	width: 100%;
	padding: 0.2rem;
	font-size: 1.6rem;
	color: black;
	background: ;
	border-radius: .8rem;
	margin: .7rem 0;
}
.Contacts form .input-box input-box{
	width: 50%;
}
.Contacts form .btn{
	background: #f9004d;
	border-radius: 30px;
	margin-top: 1rem;
	cursor: pointer;
}
.lol{
	padding-left: 100px;
}
.lol h4{
	font-size: 25px;
	font-weight: bold;
}
.lol p{
	font-size: 20px;
}
.lol svg{
	color: #f9004d;
	padding-top: 15px;
}
.lol span{
	color:gray;
}
.lol a{
	font-size: 20px;
	text-decoration: none;
	color: gray;
}
.lol a:hover{
	color:#f9004d;
	transition: .4s;
	transform: scale(1.2);
}

.nemelt1{
	padding: 100px;
	height: 100vh;
	background-image: url(Kkk/backg.png); 
}
.clearfix{
	padding: 50px;
	background-color: #fff;
	border-radius: 30px;
}